html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #051540;
}
.header {
  padding: 2rem 5rem;
}

.logo {
  width: 120px;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 5rem;
  gap: 3rem;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}

.hero-content p {
  color: #d6d6d6;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  max-width: 550px;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: bold;
}

.btn-primary {
  background-color: #1f57d6;
  color: white;
}

.btn-secondary {
  border: 1px solid white;
  color: white;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;

}

.hero-planet {
  width: 100%;
  max-width: 500px;
}